# Helios Ventilation Unit
HELIOS_HOST=YOUR_HELIOS_IP
HELIOS_PORT=80

# MQTT Broker
MQTT_HOST=YOUR_MQTT_BROKER_IP
MQTT_PORT=1883
MQTT_USER=YOUR_MQTT_USERNAME
MQTT_PASS=YOUR_MQTT_PASSWORD

# Polling Interval (seconds)
REPEAT_INTERVAL=60

